div.bookletpage {
  text-align: left;
  margin: 0px auto;
  max-width: 700px;
  padding: 0px 10px;
  /*label {
    font-family: $serif;
    margin: 15px 0px 0px 0px;
    font-weight: 400;
    font-size: 16px;
    font-style: italic;
    color: $question-color;
    padding: 0px 0px 0px 10px;
    display: block;
  }*/ }
  div.bookletpage header {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 26px;
    margin: 40px 0px 0px 0px;
    color: black; }
  div.bookletpage p, div.bookletpage label {
    font-family: 'Slabo 27px', serif;
    padding: 0px;
    margin: 15px 0px 0px 10px;
    color: #555;
    font-size: 18px;
    display: block; }
  div.bookletpage footer {
    font-family: 'Slabo 27px', serif;
    margin: 5px 0px 0px 0px;
    font-weight: 400;
    font-style: italic;
    font-size: 14px;
    color: #888888;
    padding: 0px 0px 0px 10px;
    display: block; }
  div.bookletpage div.answer {
    margin: 10px 10px 20px; }
  div.bookletpage textarea {
    border: 1px solid #e4e4e4;
    width: 100%;
    resize: none;
    font-family: 'Slabo 27px', serif;
    font-size: 16px;
    font-weight: 100;
    padding: 10px 10px;
    color: #77a;
    overflow: hidden;
    min-height: 65px;
    border-radius: 6px;
    box-sizing: border-box; }
  div.bookletpage textarea:focus {
    border-width: 2px;
    padding: 9px; }
