@media print {
  @page {
    margin: 1.5cm; }

  div.bookletpage {
    width: 70%; }
    div.bookletpage header {
      font-family: 'Roboto Condensed', sans-serif, sans-serif;
      font-size: 6mm;
      color: #bbb; }
    div.bookletpage p, div.bookletpage label {
      font-family: 'Slabo 27px', serif, serif;
      color: black;
      font-size: 4mm;
      margin: 4mm 0mm 0mm 1mm; }
    div.bookletpage p.printAnswer {
      font-size: 4mm;
      margin: 3mm 0mm 5mm;
      border-width: 2pt;
      page-break-inside: avoid; } }
