@import 'base.scss';

div.bookletpage {
  text-align: left;
  margin: 0px auto;
  max-width: $width;
  padding: 0px 10px;

  header {
    font-family: $sans;
    font-weight: 400;
    font-size: 26px;
    margin: 40px 0px 0px 0px;
    color: black;
  }

  p, label {
    font-family: $serif;
    padding: 0px;
    margin: 15px 0px 0px 10px;
    color: $question-color;
    font-size: 18px;
    display: block;
  }

  /*label {
    font-family: $serif;
    margin: 15px 0px 0px 0px;
    font-weight: 400;
    font-size: 16px;
    font-style: italic;
    color: $question-color;
    padding: 0px 0px 0px 10px;
    display: block;
  }*/

  footer {
    font-family: $serif;
    margin: 5px 0px 0px 0px;
    font-weight: 400;
    font-style: italic;
    font-size: 14px;
    color: lighten($question-color, 20);
    padding: 0px 0px 0px 10px;
    display: block;
  }

  div.answer {
    margin: 10px 10px 20px;
  }

  textarea {
    border: $question-border solid #e4e4e4;
    width: 100%;
    resize: none;
    font-family: $serif;
    font-size: 16px;
    font-weight: 100;
    padding: $question-padding $question-padding;
    color: #77a;
    overflow: hidden;
    min-height: 65px;
    border-radius: 6px;
    box-sizing: border-box;
  }

  textarea:focus {
    border-width: $question-border + $question-focusborder;
    padding: $question-padding - $question-focusborder;
  }

  p.share {
    text-align: center;

    .share-button {
      display: inline-block;
      padding: 0px 10px;
    }
  }
}
