@import 'base.scss';

body {
  background-color: white;
  margin: 0px;
  padding: 0px 0px 0px;
}

// header at the top of page
#header {
  box-shadow: 0px 0px 12px white;
  color: #ddd;
  padding: 0px 0px 0px 0px;
  font-size: 20px;
  margin: 0px auto;
  max-width: 1100px;
  background-color: white;
  z-index: 100;
  height: 80px;

  div.title {
    float: left;
    position: relative;
    top: 18px;
    left: 10px;

    img {
      width: 183px;
    }
  }

  div.menu {
    //border: 2px solid red;
    font-family: $serif;
    font-size: 16px;
    top: 23px;
    right: 15px;
    position: relative;
    float: right;
    color: black;
    text-align: right;
    margin: 0px 0px 0px auto;
    width: 200px;
  }

  // Makes the dropdown menu aligned to the right edge
  .pure-menu-children {
    border: 1px solid #888;
    right: 0px;
    left: auto;
  }
}

// navigation elements
#navigation {
  width: 100%;
  margin: 0px 0px 0px;
  text-align: center;
  padding: 0px 0px 0px;
  position: absolute;
  top: 110px;

  button {
    background-color: transparent;
    //box-shadow: 0px 2px 5px -3px #555;
    border-width: 0px;
    color: #eee;
    padding: 5px 10px 4px;
    border-radius: 3px;
    margin: 0px 5px;
    text-shadow: 0px 1px 1px #777;
    font-family: $sans;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.05);
    transition: background-color 0.15s linear;
  }

  button:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }

  button.active {
    background-color: rgba(120, 180, 200, 0.6);
  }
}

// large ribbon on the top with a background image
#jumbotron {
  font-weight: 700;
  margin: 0px 0px 0px;
  text-align: center;
  background-image: url("ui/E60WQOGUFR.jpg");
  background-position: center center;
  background-size: cover;
  padding: 30px 0px 0px 0px;
  color: white;

  p {
    color: white;
    font-family: $sans;
    text-shadow: 0px 2px 6px #888;
    margin: 0px 0px 0px;
    text-transform: uppercase;
    padding: 60px 10px;

    @media #{$smallScreen} {
      font-size: $jumboFontSmall;
    }
    @media #{$normalScreen} {
      font-size: $jumboFontNormal;
    }
  }

  p.logo {
    background-image: url("ui/logo_transparent_white_340_shadow.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100px;
  }
}

div.navbutton {
  text-align: center;
  padding: 80px 0px;

  button {
    box-shadow: 0px 7px 14px -7px #276873;
    background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    border-radius: 3px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    padding: 10px 32px;
    margin: auto;

    border: 0px;
    font-family: $sans;
    font-weight: 400;
    font-size: 20px;

    text-decoration: none;
    text-shadow: 0px 0px 0px #3d768a;
    text-transform: uppercase;

  }

  button:hover {
    background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
    background-color: #408c99;
  }

  button:active {
    position: relative;
    top: 1px;
  }
}

